/* CSS files add styling rules to your content */

@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

p {
  text-align: justify;
  text-justify: inter-word;
  //text-shadow: 1px 1px 1px #000;
}

/*Style to underline table headers*/
th {
  text-decoration: underline;
  font-size: 15px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  color: lightyellow;
  text-transform: uppercase;
  text-align: center;

}

/*Style to align content within a table cell to center*/
td {
  text-align: center;
}

/*Style to align content within a table cell which is also within a paragraph to center*/
td>p {
  text-align: center;
}


  .profilePhoto {
    display: block;
    margin: 0 auto 2rem;
    border-radius: 9999px;
  }

  /*
Flex Containers
*/
.flex-container-header,
.flex-container-menu,
.flex-container-certs,
.flex-container-social{
    display: flex;
    flex-wrap: wrap;
}

/*
Setting the width, margin, font-size and alignment of the content
within div tag within respectiver flex containers
*/
.flex-container-header>div {
    width: 300px;
    
    margin-top: 30px;
    text-align: left;
    font-size: 15px;
}
.flex-container-menu>div {
  width: 100%;
  margin: 0px;
  text-align: justify;
  font-size: 15px;
  position: relative;
}

.flex-container-certs>div {
  width: 260px;
  margin: 10px;
  text-align: center;
  font-size: 15px;
}

.flex-container-social>div {
  width: 60px;
  margin: 10px;
}

/*
Growing Image 
Resources: https://thebrandsmen.com/css-image-hover-effects/
*/
.grow img {
  transition: 1s ease;
}

.grow img:hover {

  transform: scale(1.2);
  transition: 1s ease;
}

/* 3D and Shadow Effect of Headers
Resources: https://blog.logrocket.com/five-cool-css-header-styles-with-cross-browser-compatibility/
*/
h2 {
    font-size: 40px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    color: lightyellow;
    text-transform: uppercase;
    text-shadow:
        1px 1px 1px black,
        1px 2px 1px black,
        1px 3px 1px black,
        1px 10px 5px rgba(16, 16, 16, 0.5),
        1px 15px 10px rgba(16, 16, 16, 0.4),
        1px 20px 30px rgba(16, 16, 16, 0.3),
        1px 25px 50px rgba(16, 16, 16, 0.2);
}

h3 {
    font-size: 30px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    color: lightyellow;
    text-transform: uppercase;
    text-shadow:
        1px 10px 5px rgba(16, 16, 16, 0.5),
        1px 15px 10px rgba(16, 16, 16, 0.4),
        1px 20px 30px rgba(16, 16, 16, 0.3),
        1px 25px 50px rgba(16, 16, 16, 0.2);
}

h4 {
    font-size: 15px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    color: rgba(235, 235, 235, 0.64);
    text-transform: uppercase;
    text-shadow:
        1px 10px 5px rgba(16, 16, 16, 0.5),
        1px 15px 10px rgba(16, 16, 16, 0.4),
        1px 20px 30px rgba(16, 16, 16, 0.3),
        1px 25px 50px rgba(16, 16, 16, 0.2);
}

/*
Navigation Bar 
Resources: https://www.w3schools.com/css/css_navbar_horizontal.asp
*/
ul.sidenav {
  list-style-type: none;
  width: 100%;
  height: auto;
  position: relative;
}

ul.sidenav li a {
  display: block;
  float: left;
  padding: 15px;

}

ul.sidenav li a.active {
  background-color: #4CAF50;
  color: white;
}

ul.sidenav li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content-left {
  margin-left: 0;
  width: 40%
}
div.content-right {
  margin-left: 0;
  width: 60%;
}
  
  @media (min-width: 1024px) {
    /* header {
      display: flex;
      place-items: center;
      padding-right: calc(var(--section-gap) / 2);
    } */
  
    .profilePhoto {
      margin: 0 2rem 0 0;
      border-radius: 9999px;
    }
  
     .wrapper {
      display: flex;
      place-items: flex-start;
      flex-wrap: wrap;
    }
   
    
  }