/* CSS files add styling rules to your content */

@import './base.css';



#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}



p {
  text-align: justify;
  text-justify: inter-word;
}

/*Style to underline table headers*/
th {
  text-decoration: underline;
  font-size: 15px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  color: lightyellow;
  text-transform: uppercase;
  text-align: center;

}

/*Style to align content within a table cell to center*/
td {
  text-align: center;
}

/*Style to align content within a table cell which is also within a paragraph to center*/
td>p {
  text-align: center;
}


.profilePhoto {
  display: block;
  margin: 0 auto 2rem;
  border-radius: 9999px;
}

/*
Flex Containers
*/
.flex-container-header,
.flex-container-menu,
.flex-container-companies,
.flex-container-certs,
.flex-container-social,
.flex-container-data {
  display: flex;
  flex-wrap: wrap;
}

/*
Setting the width, margin, font-size and alignment of the content
within div tag within respectiver flex containers
*/
.flex-container-header>div {
  width: 400px;
  margin-top: 30px;
  text-align: left;
  font-size: 15px;
}

.flex-container-menu>div {
  width: 100%;
  margin: 0px;
  text-align: justify;
  font-size: 15px;
  position: relative;
}

.flex-container-certs>div {
  width: 260px;
  margin: 10px;
  text-align: center;
  font-size: 15px;
}

.flex-container-companies>div {
  width: 300px;
  margin: 10px;
}


.flex-container-social>div {
  width: 60px;
  margin: 10px;
}

.flex-container-data>div {
  width: 300px;

  margin-top: 10px;
  text-align: left;
  font-size: 15px;
  color: green;
}

/*
Growing Image 
Resources: https://thebrandsmen.com/css-image-hover-effects/
*/
.grow img {
  transition: 1s ease;
}

.grow img:hover {

  transform: scale(1.2);
  transition: 1s ease;
}

/* 3D and Shadow Effect of Headers
Resources: https://blog.logrocket.com/five-cool-css-header-styles-with-cross-browser-compatibility/
*/
h2 {
  font-size: 40px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  color: lightyellow;
  text-transform: uppercase;
  text-shadow:
    1px 1px 1px black,
    1px 2px 1px black,
    1px 3px 1px black,
    1px 10px 5px rgba(16, 16, 16, 0.5),
    1px 15px 10px rgba(16, 16, 16, 0.4),
    1px 20px 30px rgba(16, 16, 16, 0.3),
    1px 25px 50px rgba(16, 16, 16, 0.2);
}

h3 {
  font-size: 30px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  color: lightyellow;
  text-transform: uppercase;
  text-shadow:
    1px 10px 5px rgba(16, 16, 16, 0.5),
    1px 15px 10px rgba(16, 16, 16, 0.4),
    1px 20px 30px rgba(16, 16, 16, 0.3),
    1px 25px 50px rgba(16, 16, 16, 0.2);
}

h4 {
  font-size: 15px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  color: rgba(235, 235, 235, 0.64);
  text-transform: uppercase;
  text-shadow:
    1px 10px 5px rgba(16, 16, 16, 0.5),
    1px 15px 10px rgba(16, 16, 16, 0.4),
    1px 20px 30px rgba(16, 16, 16, 0.3),
    1px 25px 50px rgba(16, 16, 16, 0.2);
}

/*
Navigation Bar 
Resources: https://www.w3schools.com/css/css_navbar_horizontal.asp
*/
ul.sidenav {
  list-style-type: none;
  width: 100%;
  height: auto;
  position: relative;
}

ul.sidenav li a {
  display: block;
  float: left;
  padding: 15px;

}

ul.sidenav li a.active {
  background-color: #4CAF50;
  color: white;
}

ul.sidenav li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content-left {
  margin-left: 0;
  width: 40%
}

div.content-right {
  margin-left: 0;
  width: 60%;
}




  .profilePhoto {
    margin: 0 2rem 0 0;
    border-radius: 9999px;
  }

  .wrapper {
    display: flex;
    place-items: flex-start;
    flex-wrap: wrap;
  }

  /* Slideshow Gallery CSS
Resource: https://codepen.io/rokobuljan/pen/XXzqKQ
*/
*{box-sizing: border-box; -webkit-box-sizing: border-box; }

.CSSgal {
	position: relative;
	overflow: hidden;
	height: 100%; /* Or set a fixed height */
}

/* SLIDER */

.CSSgal .slider {
	height: 100%;
	white-space: nowrap;
	font-size: 0;
	transition: 0.8s;
}

/* SLIDES */

.CSSgal .slider > * {
	font-size: 1rem;
	display: inline-block;
	white-space: normal;
	vertical-align: top;	
	background: none 50% no-repeat;
	background-size: cover;
}

.crop {
  width: auto;
  height: 547px;
  overflow: hidden;
}

.crop img {
  width: auto;
  height: 547px;
  margin: 0 0 0 0;
}

/* PREV/NEXT, CONTAINERS & ANCHORS */

.CSSgal .prevNext {
	position: absolute;
	z-index: 1;
	top: 50%;
	width: 100%;
	height: 0;
}

.CSSgal .prevNext > div+div {
	visibility: hidden; /* Hide all but first P/N container */
}

.CSSgal .prevNext a {
	background: #fff;
	position: absolute;
	width:       60px;
	height:      60px;
	line-height: 60px; /* If you want to place numbers */
	text-align: center;
	opacity: 0.7;
	-webkit-transition: 0.3s;
					transition: 0.3s;
	-webkit-transform: translateY(-50%);
					transform: translateY(-50%);
	left: 0;
}
.CSSgal .prevNext a:hover {
	opacity: 1;
}
.CSSgal .prevNext a+a {
	left: auto;
	right: 0;
}

/* NAVIGATION */

.CSSgal .bullets {
	position: absolute;
	z-index: 2;
	bottom: 0;
	padding: 10px 0;
	width: 100%;
	text-align: center;
}
.CSSgal .bullets > a {
	display: inline-block;
	width:       30px;
	height:      30px;
	line-height: 30px;
	text-decoration: none;
	text-align: center;
	background: rgba(255, 255, 255, 1);
	-webkit-transition: 0.3s;
					transition: 0.3s;
}
.CSSgal .bullets > a+a {
	background: rgba(255, 255, 255, 0.5); /* Dim all but first */
}
.CSSgal .bullets > a:hover {
	background: rgba(255, 255, 255, 0.7) !important;
}

/* NAVIGATION BUTTONS */
/* ALL: */
.CSSgal >s:target ~ .bullets >* {      background: rgba(255, 255, 255, 0.5);}
/* ACTIVE */
#s1:target ~ .bullets >*:nth-child(1) {background: rgba(255, 255, 255,   1);}
#s2:target ~ .bullets >*:nth-child(2) {background: rgba(255, 255, 255,   1);}
#s3:target ~ .bullets >*:nth-child(3) {background: rgba(255, 255, 255,   1);}
#s4:target ~ .bullets >*:nth-child(4) {background: rgba(255, 255, 255,   1);}
#s5:target ~ .bullets >*:nth-child(5) {background: rgba(255, 255, 255,   1);}
#s6:target ~ .bullets >*:nth-child(6) {background: rgba(255, 255, 255,   1);}
/* More slides? Add here more rules */

/* PREV/NEXT CONTAINERS VISIBILITY */
/* ALL: */
.CSSgal >s:target ~ .prevNext >* {      visibility: hidden;}
/* ACTIVE: */
#s1:target ~ .prevNext >*:nth-child(1) {visibility: visible;}
#s2:target ~ .prevNext >*:nth-child(2) {visibility: visible;}
#s3:target ~ .prevNext >*:nth-child(3) {visibility: visible;}
#s4:target ~ .prevNext >*:nth-child(4) {visibility: visible;}
#s5:target ~ .prevNext >*:nth-child(5) {visibility: visible;}
#s6:target ~ .prevNext >*:nth-child(6) {visibility: visible;}
/* More slides? Add here more rules */

/* SLIDER ANIMATION POSITIONS */

#s1:target ~ .slider {transform: translateX(   0%); -webkit-transform: translateX(   0%);}
#s2:target ~ .slider {transform: translateX(-100%); -webkit-transform: translateX(-100%);}
#s3:target ~ .slider {transform: translateX(-200%); -webkit-transform: translateX(-200%);}
#s4:target ~ .slider {transform: translateX(-300%); -webkit-transform: translateX(-300%);}
#s5:target ~ .slider {transform: translateX(-400%); -webkit-transform: translateX(-400%);}
#s6:target ~ .slider {transform: translateX(-500%); -webkit-transform: translateX(-500%);}
/* More slides? Add here more rules */


/*CSSgal CUSTOM STYLES / OVERRIDES HERE: */

 .CSSgal{
	color: #fff;	
	text-align: center;
}
.CSSgal .slider h2 {
	margin-top: 40vh;
	font-weight: 200;
	letter-spacing: -0.06em;
	word-spacing: 0.2em;
	font-size: 3em;
}
.CSSgal a {
	border-radius: 50%;
	margin: 0 3px;
	color: rgba(0,0,0,0.8);
	text-decoration: none;
} 



  #submitButton {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: solid;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }


  #submitButton {
    background-color: white;
    color: black;
    border: 2px solid #f44336;
  }

  #submitButton:hover {
    background-color: #f44336;
    color: white;
  }



/*Media Query for Mobile Screen*/
@media screen and (max-width: 500px) {

  /*Navigation Bar 
  Resources: https://www.w3schools.com/css/css_navbar_horizontal.asp
  */
  ul.sidenav li a {
    text-align: center;
    float: none;
  }


  div.content-left {
    margin-left: auto;
    width: 100%
  }

  div.content-right {
    margin-left: auto;
    width: 100%;
  }

  /*
Growing Image 
Resources: https://thebrandsmen.com/css-image-hover-effects/
*/
  /* img {
    margin-left: auto;
    margin-right: auto;
  } */

  .flex-container-header>div {
    width: 500px;
    margin-top: 30px;
    text-align: center;
    font-size: 15px;
  }

  .flex-container-certs>div {
    width: 500px;
    margin: 10px;
    text-align: center;
    font-size: 15px;
  }

  .flex-container-companies>div {
    width: 500px;
    margin: 10px;
    text-align: center;
  }

  .flex-container-social>div {
    width: 75px;
    margin: 10px;
    text-align: center;
  }


  h2 {
    font-size: 40px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    color: lightyellow;
    text-transform: uppercase;
    text-align: center;
    text-shadow:
      1px 1px 1px black,
      1px 2px 1px black,
      1px 3px 1px black,
      1px 10px 5px rgba(16, 16, 16, 0.5),
      1px 15px 10px rgba(16, 16, 16, 0.4),
      1px 20px 30px rgba(16, 16, 16, 0.3),
      1px 25px 50px rgba(16, 16, 16, 0.2);
  }

  h3 {
    font-size: 30px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    color: lightyellow;
    text-transform: uppercase;
    text-align: center;
    text-shadow:
      1px 10px 5px rgba(16, 16, 16, 0.5),
      1px 15px 10px rgba(16, 16, 16, 0.4),
      1px 20px 30px rgba(16, 16, 16, 0.3),
      1px 25px 50px rgba(16, 16, 16, 0.2);
  }

  h4 {
    font-size: 15px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    color: rgba(235, 235, 235, 0.64);
    text-transform: uppercase;
    text-align: center;
    text-shadow:
      1px 10px 5px rgba(16, 16, 16, 0.5),
      1px 15px 10px rgba(16, 16, 16, 0.4),
      1px 20px 30px rgba(16, 16, 16, 0.3),
      1px 25px 50px rgba(16, 16, 16, 0.2);
  }

  .wrapper {
    text-align: center;
    place-items: flex-start;
    flex-wrap: wrap;
  }

  video {
    display: block;
    margin: auto;
  }

  .crop {
    width: auto;
    height: 292px;
    overflow: hidden;
  }
  
  .crop img {
    width: auto;
    height: 292px;
    margin: 0 0 0 0;
  }


}

/*Media Query for Printing 
Override styles when printing 
Resources: https://www.sitepoint.com/css-printer-friendly-pages/ */
@media print {
  body {
    margin: 0;
    color: #000;
    background-color: #fff;
  }

  ul.sidenav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 0%;
    height: 0%;
  }

  video {
    margin: 0;
    padding: 0;
    width: 0%;
    height: 0%;
  }
}